version: "3.9"

services:
  app:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: go_app
    env_file:
      - .env
    ports:
      - "8080:8080"
    restart: unless-stopped
    environment:
      GIN_MODE: "release"
    # volumes: не монтировать, иначе бинарник пропадет
